<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Generate</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
        integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
        integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/bill.css">
</head>

<body>

    <body>
        <header>
            <%-include('_header')%>
        </header>
        <div style="display: flex;">
            <div class="bill-container" style="width: 70%;">

                <section>
                    <label class="sub-heading">Patient Details</label>
                    <div class="patient-info" style="margin-bottom: 15px;">
                        <div style="width: 50%;padding-left: 25%;">
                            <input hidden type="text" id="visitId" value="<%=visit_id%>">
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <td><%=bill.Name%></td>
                                </tr>
                                <tr>
                                    <th>Age</th>
                                    <td><%=bill.Age%></td>
                                </tr>
                                <tr>
                                    <th>Gender</th>
                                    <td><%=bill.Gender%></td>
                                </tr>
                            </table>
                        </div>
                        <div style="width: 50%;">
                            <table>
                                <tr>
                                    <th>Mobile</th>
                                    <td><%=bill.Mobile%></td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td><%=bill.Address%></td>
                                </tr>
                                <tr>
                                    <th>Id</th>
                                    <td><%=bill.Id%></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <label class="sub-heading">Billing Details</label>
                    <table>
                        <thead>
                            <tr class="bg">
                                <th>#</th>
                                <th style="text-align: left;">Description</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="billingDetails">
                            
                        </tbody>
                    </table>
                </section>
            </div>
            <div>
                <div style="display: flex;">
                    <div style="margin-top: 1.3%;margin-right: 10%;">
                        <button class="btn btn-primary" onclick="openNewItemPopup()">Add New Item</button>
                    </div>
                    <div style="margin-top: 1.3%;margin-left: 3%;">
                        <b id="total"></b>
                    </div>
                </div>
                <div style="margin-top: 5%;">
                    <div class="input-group input-group-sm mb-1">
                        <span class="input-group-text" id="basic-addon1">&nbsp;&nbsp;Cash &nbsp;Payment</span>
                        <input onchange="setuppayments()" id="cashPayment" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group input-group-sm mb-1">
                        <span class="input-group-text" id="basic-addon1">Online Payment</span>
                        <input id="onlinePayment" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            
        </div>


        
        <div class="printButtonContainer" style="width: 70%;"> <button id="printButton" onclick="SaveDischargeBill()"
                class="btn btn-success">Save & Print</button></div>

        <div id="addNewItem" class="card text-center">

            <div style="margin: 1%; text-align: right;">
                <i onclick="closepopup()" style="align-items: end;" class="fa-regular fa-circle-xmark fa-2x"></i>
            </div>
            <h4>Add New Item</h4>
            <div class="container">

                <div class="form-floating">
                    <input type="text" class="form-control" id="itemName" placeholder="name@example.com">
                    <label for="Name"><i class="fa-solid fa-prescription-bottle"></i> Item Name
                        <span>*</span></label>
                </div>

                <div class="form-floating">
                    <input type="number" class="form-control" id="itemPrice" placeholder="name@example.com">
                    <label for="Dosage"><b>₹</b> Price <span>*</span></label>
                </div>

            </div>

            <div style="text-align: left; padding-left: 3%;font-size: small;color: red; ">
                <span><i>* Mandatory Fields</i></span><br>
            </div>
            <button class="btn" style="margin: 2%;margin-left: 0% !important; padding: 10px; width: 40% !important; background-color: #025E73 ;" onclick="addNewItems()"><i class="fa-solid fa-file-circle-plus"></i> Add Item</button>
        </div>
        
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
            integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/bill.js"></script>
</html>