<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birth Certificate</title>
    <link rel="stylesheet" href="/css/birthCertificateTemplate.css">
</head>
<body>
    <div>
        <header>
            <div
                style="display: flex; border-bottom: 1px dotted black; font-size: small; justify-content: space-between;">
                <span style="font-size: medium;"><i></i></span>
                <span>Reg No. NH/9255/JUN-2023</span>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div style="justify-content: left;">
                    <img style="height: 60px;" src="/images/CJNH_Logo_Black.png" alt="CJNH Logo">
                </div>
                <span style="margin-top: 1.5%;" class="heading">Dr. Chanda Jain Nursing Home</span>
                <img style="height: 50px; padding: 5px;" src="/images/doctorLogo.jpg" alt="Doctor-Logo">
            </div>
            <div style="text-align: center;">
                <label class="sub-heading">323, Civil Ward No. 7, Damoh. (MP) Pin - 470661</label>
            </div>
        </header>
            
        </div>
        <div class="heading" style="margin-top: 3%;">
            <label style="display: block;">Birth Certificate</label>
            <label style="display: block;">जन्म प्रमाण पत्र</label>
        </div>
        <div class="date">
            <div></div>
            <div>
                <label for="">Date : <%=new Date().toLocaleDateString();%></label>
            </div>
        </div>
        <div class="content">
            
            This is to certified that <b>smt. <%=cert.Name%></b>  W/O <b>Shri <%=cert.Husband%></b> Age <b><%=cert.Age%></b> years of 
            village <b><%=cert.Village%></b> Tahsil <b><%=cert.Tahsil%></b> District <b><%=cert.District%></b> state <b><%=cert.State%></b> 
            delivered a <b><%=cert.DeliveryType%></b>, <b><%=cert.Gender%></b> child at  <b><%=cert.BirthTime%></b> at <b><%=cert.BirthDate.split('-')[2]%>-<%=cert.BirthDate.split('-')[1]%>-<%=cert.BirthDate.split('-')[0]%></b>
            Birth weight <b><%=cert.ChildWeight%></b> in my nursing home 
        </div>

        <div class="footer">
            <div style="display: flex;justify-content: space-between;margin-top: 9%;">
                <div style="width: 40%;font-size: 20px;">
                    <label>Parents sign</label>
                </div>
                <div>
                    <label style="display: block;font-size: 22px;">(Dr Swati Jain)</label>
                    <label>MBBS, DGO</label>
                </div>
                <div>
                    <label style="display: block;font-size: 22px;">(Dr Anuj Jain)</label>
                    <label >MBBS, DGO</label>
                </div>
            </div>
            <div style="display: flex;justify-content: end;margin-top: 3%;">
                Prop. Dr. Chanda Jain Nursing Home
            </div>

        </div>
    </div>
</body>
</html>