<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birth Certificate</title>
    <link rel="stylesheet" href="/css/birthCertificateHome.css">
</head>
<body>
    <header>
        <%-include('_header')%>
    </header>
    <div>
        <div class="dateDiv">
            Date : <%=new Date()%>
        </div>
        <div class="content">
            This is to certified that smt. <%=cert.Name%> W/O Shri <%=cert.Husband%> Age <%=cert.Age%> years of 
            village <%=cert.Village%> Tahsil <%=cert.Tahsil%> District <%=cert.District%> state <%=cert.State%> 
            delivered a <%=cert.DeliveryType%>, <%=cert.Gender%> child at <%=cert.BirthTime%> at <%=cert.BirthDate%>
            Birth weight <%=cert.ChildWeight%> in my nursing home 

        </div>
        <div class="footer">
            <div>
                <div>
                    <label>Parents sign</label>
                </div>
                <div>
                    <label>Dr Swati Jain</label>
                    <label>MBBS, DGO</label>
                </div>
                <div>
                    <label>Dr Anuj Jain</label>
                    <label>MBBS, DGO</label>
                </div>
            </div>
            <div>
                Prop. Dr. Chanda Jain Nursing Home
            </div>

        </div>
    </div>
</body>
</html>