<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birth Certificate</title>
    <link rel="stylesheet" href="/css/birthCertificateTemplate.css">
    <script src="https://kit.fontawesome.com/f419dc6d9b.js" crossorigin="anonymous"></script>
</head>

<body style="text-align: center;">
    <div style="margin:15px; padding: 10px; border: 2px solid black;">
        <div>
            <header>
                <div
                    style="display: flex; border-bottom: 1px dotted black; font-size: small; justify-content: space-between;">
                    <span style="font-size: medium;"><i></i></span>
                    <span>Reg No. NH/9255/JUN-2023</span>
                </div>
                <div style="margin-top: 1.5%; display: flex; justify-content: space-between;">
                    <div style="justify-content: left;">
                        <img style="height: 60px;" src="/images/CJNH_Logo_Black.png" alt="CJNH Logo">
                    </div>
                    <h1>Dr. Chanda Jain Nursing Home</h1>
                    <img style="height: 50px; padding: 5px;" src="/images/doctorLogo.jpg" alt="Doctor-Logo">
                </div>
                <div style="text-align: center;">
                    <label class="sub-heading">323, Civil Ward No. 7, Damoh (MP). Ph. 222441 (NH), Mob:
                        6263169195</label>
                </div>
            </header>

        </div>
        <div class="heading" style="margin-top: 3%;">
            <h3 style="display: block;">Birth Certificate</h3>
            <label style="display: block;">जन्म प्रमाण पत्र</label>
        </div>
        <div class="date">
            <div>
                <label>Certificate No : <%=cert.CertificateNumber%></label>
            </div>
            <div>
                <label for="">Date :
                    <%= cert.BirthDate.split('-')[2] %>-<%= cert.BirthDate.split('-')[1] %>-<%= cert.BirthDate.split('-')[0] %></label>
            </div>
        </div>
        <%let birthDateTime = cert.BirthDate + ' '+ cert.BirthTime%>
        <div class="content">

            This is to certify that <b>Smt. <%=cert.Name%></b>, W/O <b>Shri. <%=cert.Husband%></b> age
            <b><%=cert.Age%></b>
            years resident of
            Village: <b><%=cert.Village%></b>, Tahsil: <b><%=cert.Tahsil%></b>, District: <b><%=cert.District%></b>.
            State:
            <b><%=cert.State%></b>
            delivered a <b><%=cert.Gender%></b> child on
            <b><%=new Date(birthDateTime).toLocaleString().split(', ')[0].split('/')[0].padStart(2,'0')%>-<%=new Date(birthDateTime).toLocaleString().split(', ')[0].split('/')[1].padStart(2,'0')%>-<%=new Date(birthDateTime).toLocaleString().split(', ')[0].split('/')[2]%></b>,
            At
            <b><%=new Date(birthDateTime).toLocaleString().split(', ')[1]%>.</b>
            Mode of Delivery : <b><%=cert.DeliveryType%></b>
            , Baby weight <b><%=cert.ChildWeight%> Kg</b> in my Nursing Home
        </div>

        <div class="footer">
            <div style="display: flex;justify-content: space-between;margin-top: 10%;">
                <div style="text-align: left !important;; width: 40%;font-size: 20px;">
                    <label>Signature of Parent</label>
                </div>
                <div>
                    <label style="display: block;font-size: 22px;"><b>(Dr Swati Jain)</b></label>
                    <label>MBBS, DGO</label>
                </div>
                <div>
                    <label style="display: block;font-size: 22px;"><b>(Dr Anuj Jain)</b></label>
                    <label>MBBS, DGO</label>
                </div>
            </div>
            <div style="display: flex;justify-content: end;">
                <i>Prop. Dr. Chanda Jain Nursing Home</i>
            </div>

        </div>
    </div>
    </div>

    <button id="printButton" onclick="printMe()"
        style="width: 50%;background-color: #198754;border: none;color: white;border-radius: 1.3rem;font-size: medium;padding: 10px;"
        class="btn btn-success"><i class="fa-solid fa-print"></i> <b>Print</b></button>

</body>

<script>
    function printMe() {
        document.getElementById('printButton').style.display = 'none'
        window.print()
    }
</script>

</html>