<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/dischargeSheet.css">
    <title>Discharge Sheet</title>
</head>

<body class="container">
    <div style="display: flex;height: 100%;flex-direction: column; border: 1px solid black;background-color: #d29f9b;">

        <div class="hospital-details" style="height: 6%;text-align:left; display: flex;">
            <div style="height: 100%; width: 30%;">
                <img style="width: 110px; height: auto;" src="/images/CJNH_Logo_Black.png" alt="">
            </div>
            <label style="padding-top: 5px; font-size: 27px;font-weight: bolder;display: block;">डॉ. चंदा &nbsp;जैन
                &nbsp;नर्सिंग &nbsp;होम</label>

        </div>
        <label style="text-align: center; margin-bottom: 5px;">323, सिविल वार्ड नंबर 7 दमोह (म. प्र.). Mob : 6263169195, Ph. No :
            07812-222441</label>
        <label style="font-size: 22px;font-weight: bold;text-align: center;">Discharge Sheet</label>
        
        <!-- Patient Information-->
        <div class="patient-info">
            <label hidden for="" id="visitId"><%=visit._id%></label>
            <div class="patient-data" style="width: 8%; ">
                <span for=""><b>Id</b></span>
                <label for="" id=""><%=visit.Patient.Id%></label>
            </div>
            <div class="patient-data" style="width: 25%;">
                <span for=""><b>Name</b></span>
                <label for=""><%=visit.Patient.Name%></label>
            </div>
            <div class="patient-data" style="width: 25%; ">
                <span for=""><b>Husband:</b></span>
                <label for=""><%=visit.Patient.Husband%></label>
            </div>
            <div class="patient-data" style="width: 10%;">
                <span for=""><b>Age:</b></span>
                <label for=""><%=visit.Patient.Age%></label>
            </div>
            
            <div class="patient-data" style="width: 33%;">
                <span for=""><b>Address:</b></span>
                <label for=""><%=visit.Patient.Address%></label>
            </div>
            
        </div>

        <!-- Admission and Discharge Date Section-->
        <div class="dischargeItems" style="height: 3%; display: flex;justify-content: space-between;">
            <div style="width: 50%; padding: 5px; text-align: left;">
                <label>Date Of Admission : <%=visit.AdmissionDate.split('-')[2]%>-<%=visit.AdmissionDate.split('-')[1]%>-<%=visit.AdmissionDate.split('-')[0]%> at <%=visit.AdmissionTime%></label>
            </div>
            <div style="width: 50%;text-align: right;  padding: 5px; ">
                <label>Date Of Discharge : <%=visit.DischargeDate.split('-')[2]%>-<%=visit.DischargeDate.split('-')[1]%>-<%=visit.DischargeDate.split('-')[0]%> at <%=visit.DischargeTime%></label>
            </div>
        </div>  
        <div style="margin-bottom: 4px;">
            <input style="width: 99.5%;text-align: left;" type="text" name="" id="" placeholder="Diagnosis">
        </div>
        <!-- Conditions Input Text Box-->
        <div class="condition" style="height: 14%; display: flex;justify-content: space-between;">
            <div style="text-align: left; width: 49%;">
                <span style="padding-left: 10px;"><b>Condition on Admission</b></span>
                <textarea rows="6" cols="44"></textarea>
            </div>
            <div style="text-align: left; width: 49%; border-left: .5px dotted black;padding-left: 13px;">
                <span><b>Condition on Discharge</b></span>
                <textarea rows="6" cols="44"></textarea>
            </div>
        </div>

        <!-- Investigation Section-->
        <div class="investigation-tables" style="height: 32%; display: flex; border-top: .5px dashed black;border-bottom: .5px dashed black;">
            <div>
                <div class="ohms" style="width:95%; height: 20%;text-align: center;margin-right: 2%;">
                    <span><b>O/H MS-</b></span>
                    <table class="table" style="text-align: center;width: 100%;padding: 0;">
                        <tr>
                            <td>G</td>
                            <td>P</td>
                            <td>L</td>
                            <td>A</td>
                        </tr>
                        <tr class="ohms-inputs">
                            <td style="width: 25%;"><input style="width: 90%;" type="text"></td>
                            <td style="width: 25%;"><input style="width: 90%;" type="text"></td>
                            <td style="width: 25%;"><input style="width: 90%;" type="text"></td>
                            <td style="width: 25%;"><input style="width: 90%;" type="text"></td>
                        </tr>
                    </table>
                    <div style="text-align: left;margin-left: 5px;">
                        <textarea name="" id="" rows="3" cols="65" placeholder="MS"></textarea>
                    </div>
                </div>
                <div class="invstdone" style="width:95%;  height: 75%; text-align: center;margin-top: 70px;">
                    <span><b>Invst Done:</b></span>
                    <table class="table" style="height: 40%;width: 100%; ">
                        <tr>
                            <td>Hb%</td>
                            <td>Bl gr & Rh</td>
                            <td>RBS</td>
                            <td>HIV</td>
                            <td>HbsAg</td>
                            <td>TSH</td>
                            <td>Others</td>
                        </tr>
                        <tr>
                            <td><input style="width: 96%;" type="text"></td>
                            <td><input style="width: 96%;" type="text"></td>
                            <td><input style="width: 96%;" type="text"></td>
                            <td><input style="width: 96%;" type="text"></td>
                            <td><input style="width: 96%;" type="text"></td>
                            <td><input style="width: 96%;" type="text"></td>
                            <td><input style="width: 96%;" type="text"></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            
            


            <div class="treatmentgiven" style="height: 104%; width: 70%; align-items:center;">
                <label><b>Treatment Given:</b></label><br>
                <table style="width: 100%; height: 89%;">
                    <tbody>
                        <tr class="b3">
                            <td>I.V Fluids</th>
                            <td><input type="text"></td>
                        </tr>
                        <tr class="b3">
                            <td>i.v Antibiotic XL 1.5 gm iv.</th>
                            <td><input type="text"></td>
                        </tr>
                        <tr class="b3">
                            <td>I.M Aquagesic 75mg</th>
                            <td><input type="text"></td>
                        </tr>
                        <tr class="b3">
                            <td>Tab. Mahacef XL</th>
                            <td><input type="text"></td>
                        </tr>
                        <tr class="b3">
                            <td>Tab Camrox D</th>
                            <td><input type="text"></td>
                        </tr>
                        <tr class="b3">
                            <td>Symptomatic t/t</th>
                            <td><input type="text"></td>
                        </tr>
                        <tr class="b3">
                            <td>Others</th>
                            <td><input type="text"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <!-- Notes-->
        <div class="notes" style="height: 14%; display: flex;justify-content: space-between;">
            <div style="text-align: left; width: 49%;">
                <span style="padding-left: 10px;"><b>Operative Notes</b></span>
                <textarea rows="6" cols="44"></textarea>
            </div>
            <div style="text-align: left; width: 49%;border-left: .5px dotted black;padding-left: 13px;">
                <span><b>Baby Notes</b></span>
                <textarea  rows="6" cols="44"></textarea>
            </div>
        </div>


        <!-- Discharge Advice-->
        <div class="dischargePrescription" 
            style="height: 25%; display: flex; padding-top:5px;border-top: .5px dashed black;">
            <div style="width: 70%; height: 100%;">
                <table style="text-align: center; width: 100%; font-size: small;">
                    <thead>
                        <tr class="b4">
                            <th></th>
                            <th>सुबह</th>
                            <th>दोपहर</th>
                            <th>रात</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let i=0;i<meds.length;i++){%>
                            <tr class="b4">
                                <td><%=meds[i].Name%></td>
                                <%let dosage = meds[i].Dosage.split('-')%>
                                <td><input type="text" value="<%=dosage[0]%>"></td>
                                <td><input type="text" value="<%=dosage[1]%>"></td>
                                <td><input type="text" value="<%=dosage[2]%>"></td>
                                <td><%=meds[i].Duration%></td>
                            </tr>
                        <%}%>
                        
                    </tbody>
                </table>
            </div>
            <div>
                <div style="margin-left: 5px;">
                    <textarea name="" id="" rows="5" cols="35" placeholder="Other Advice"></textarea>
                </div>
                <div style=" width: 100%; height: 55%; padding-left:8px ; text-align: center; margin-top: 7%;">
                    <span>- बच्चे का टीकाकरण नियमित करायें ।</span><br><hr>
                    <span>- ⁠परिवार नियोजन अपनाए ।</span><br><hr>
                    <span>- ⁠आवश्यकता पड़ने पर या 1 - 1/2 माह बाद दिखाये ।</span>
                </div>
                
            </div>
            
        </div>
        
        <span style="text-align: center;"><b> बच्चे का जन्म पंजीयन 15 दिवस के अंदर नगर पालिका या ग्राम पंचायत से करवाये ।<b></span>
        <div style="display: flex; ">
            <table style="text-align: center; width: 100%;">
                <thead>
                    <tr class="b5">
                        <td>Dr. Anuj Jain</td>
                        <td>Dr. Swati jain</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="b5">
                        <td>(DGO)</td>
                        <td>(DGO)</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div style="display: flex;justify-content: center; margin-top: 10px;">
        <button id="printButton" onclick="printMe()"
            style="width: 50%;background-color: #198754;border: none;color: white;border-radius: 1.3rem;font-size: medium;padding: 10px;"
            class="btn btn-success"><b>Print</b></button>
    </div>
    <script>
        function printMe() {
            document.getElementById('printButton').style.display = 'none'
            window.print()
        }
    </script>
</body>

</html>