<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <style>
        .main-body{
            height: 1065px;
            width: 730px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        .header{
            height: 10%;
            text-align: center;
            border-bottom: 1px dotted rgb(198, 172, 172);
            padding-left: 20px;
        }
        .patient-data{
            height: 9%;
        }
        
        .notes{
            height: 8%;
        }
        .div3{
            width: 33%;
            height: 60%;
        }
        .div3 label{
            display: block;
            text-align: left;
            padding-left: 1%;
        }
        .large-font{
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 2%;
        }
        table{
            width: 100%;
            border: 1px solid black;
            border-collapse: collapse;
            font-size: large;
            margin-bottom: 30px;
        }
        th, td{
            text-align: center !important;
            border: 1px solid black;
            padding: 3px;
        }
        .report-div{
            margin: 0;
        }
        .patient-data{
            display: flex;
            margin-top: 5px;
        }
        .patient-data div{
            width: 100%;
            margin-left: 10px;

        }
        .patient-heading{
            display: inline-block;
            font-weight: bold;
            width: 130px !important;
            font-size: large;
            margin-top: 3px;
        }
        .patient-value{
            font-size: large;
            margin-top: 3px;
        }
    </style>
</head>
<body>
    <div class="main-body">
        <div class="header report-div">
            <label style="font-size: 32px; border-bottom: 2px dashed black;"> Dr Chanda Jain Nursing Home </label>
            <div style="display: flex;height: 100%;">
                <div class="div3">
                    <label class="large-font">Dr. R.K. Jain</label>
                    <label class="mid-font">B.Sc. , MBBS, DNT, MCGP</label>
                    <label class="mid-font">Regd No : 6682</label>
                </div>
                <div class="div3">
                    <h2>Pathology Report</h2>
                </div>
                <div class="div3"></div>
            </div>
        </div>
        <div class="patient-data report-div">
            <div>
                <div>
                    <label class="patient-heading">Report No</label>
                    <span class="patient-value"><%=report.ReportNo%></span>
                </div>
                <div>
                    <label class="patient-heading">Name</label>
                    <span class="patient-value"><%=report.Name%></span>
                </div>
                <div>
                    <label class="patient-heading">Age , Gender</label>
                    <span class="patient-value"><%=report.Age%>, <%=report.Gender%></span>
                </div>
            </div>
            <div>
                <div>
                    <label class="patient-heading">Date</label>
                    <span class="patient-value"><%=report.Date%></span>
                </div>
                <div>
                    <label class="patient-heading">Mobile</label>
                    <span class="patient-value"><%=report.Mobile%></span>
                </div>
                <div>
                    <label class="patient-heading">Referred By</label>
                    <span class="patient-value"><%=report.Doctor%></span>
                </div>
            </div>
            
        </div>
        <div class="heamatology report-div">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">HEAMATOLOGY REPORT</td>
                    </tr>
                    <tr>
                        <th>Test</th>
                        <th>Result</th>
                        <th>Normal Range</th>
                    </tr>
                </thead>
                <tbody>
                    <%for(let i=0;i<report.Items.length;i++){%>
                        <%if(report.Items[i].split('$')[3] == 'HEAMATOLOGY'){%>
                            <tr>
                                <td style="width:35%;"><%=report.Items[i].split('$')[0]%></td>
                                <td style="width:20%;"><%=report.Items[i].split('$')[1]%></td>
                                <td style="width:45%;"><%=report.Items[i].split('$')[2]%></td>
                            </tr>
                        <%}%>
                        
                    <%}%>
                    
                </tbody>
            </table>
        </div>
        <div class="biochemisrty report-div">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">BIOCHEMISTRY REPORT</td>
                    </tr>
                    
                </thead>
                <tbody>
                    <%for(let i=0;i<report.Items.length;i++){%>
                        <%if(report.Items[i].split('$')[3] == 'BIOCHEMISTRY'){%>
                            <tr>
                                <td style="width:35%;"><%=report.Items[i].split('$')[0]%></td>
                                <td style="width:20%;"><%=report.Items[i].split('$')[1]%></td>
                                <td style="width:45%;"><%=report.Items[i].split('$')[2]%></td>
                            </tr>
                        <%}%>
                        
                    <%}%>
                    
                </tbody>
            </table>
        </div>
        <div class="urine-exam report-div">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">URINE EXAMINATION REPORT</td>
                    </tr>
                    
                </thead>
                <tbody>
                    <%for(let i=0;i<report.Items.length;i++){%>
                        <%if(report.Items[i].split('$')[3] == 'URINE'){%>
                            <tr>
                                <td style="width:35%;"><%=report.Items[i].split('$')[0]%></td>
                                <td style="width:20%;"><%=report.Items[i].split('$')[1]%></td>
                                <td style="width:45%;"><%=report.Items[i].split('$')[2]%></td>
                            </tr>
                        <%}%>
                        
                    <%}%>
                    
                </tbody>
            </table>
        </div>
        <div class="serology report-div">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">SEROLOGY REPORT</td>
                    </tr>
                    
                </thead>
                <tbody>
                    <%for(let i=0;i<report.Items.length;i++){%>
                        <%if(report.Items[i].split('$')[3] == 'SEROLOGY'){%>
                            <tr>
                                <td style="width:35%;"><%=report.Items[i].split('$')[0]%></td>
                                <td style="width:20%;"><%=report.Items[i].split('$')[1]%></td>
                                <td style="width:45%;"><%=report.Items[i].split('$')[2]%></td>
                            </tr>
                        <%}%>
                    <%}%>
                </tbody>
            </table>
        </div>
        <div class="others report-div">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">OTHER REPORT</td>
                    </tr>
                    
                </thead>
                <tbody>
                    <%for(let i=0;i<report.Items.length;i++){%>
                        <%if(report.Items[i].split('$')[3] == 'OTHERS'){%>
                            <tr>
                                <td style="width:35%;"><%=report.Items[i].split('$')[0]%></td>
                                <td style="width:20%;"><%=report.Items[i].split('$')[1]%></td>
                                <td style="width:45%;"><%=report.Items[i].split('$')[2]%></td>
                            </tr>
                        <%}%>
                    <%}%>
                    
                </tbody>
            </table>
        </div>
        </div>
        <div class="notes report-div"></div>
    </div>
</body>
</html>