<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient History</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/patientHistory.css">
</head>

<body onload="getAllVisits()">
    <header>
        <%-include('_header')%>
    </header>
    <div class="pageTitle">
        <h4>Patient History</h4>
    </div>
    <div class="patient-info-container mt-3" style="display: flex;">
        <label id="patientID" hidden><%=patient._id%></label>
        <div class="patient-info">
            <p><i class="fa-solid fa-id-badge"></i> <strong>ID:</strong></p>
            <p for=""><%=patient.Id%></p>
        </div>
        <div class="patient-info">
            <p><i class="fas fa-user"></i> <strong>Name:</strong></p>
            <p for=""><%=patient.Name%></p>
        </div>
        <div class="patient-info">
            <p><i class="fa-solid fa-person-rays"></i> <strong>Husband:</strong></p>
            <p for=""><%=patient.Husband%></p>
        </div>
        <div class="patient-info">
            <p><i class="fa-solid fa-id-card-clip"></i> <strong>ID Proof:</strong></p>
            <p for=""><%=patient.IdProof%></p>
        </div>
        <div class="patient-info">
            <p><i class="fas fa-map-marker-alt"></i> <strong>Address:</strong></p>
            <p for=""><%=patient.Address%></p>
        </div>
        <div class="patient-info">
            <p><i class="fas fa-phone"></i> <strong>Mobile:</strong></p>
            <p for=""><%=patient.Mobile%></p>
        </div>
    </div>
    <main style="padding: 20px;width: 100%;display: flex;justify-content: space-between;">
        
        <div style="width: 85%;" id="visit-container">
            
            <!-- New visit blocks will be added here -->
        </div>
        <div class="card" style="width: 14%;margin-top: 2%; height: fit-content;">
            <div class="card-header text-white">
                <h6><strong><i class="fa-solid fa-square-poll-vertical"></i> Pathalogy Reports</strong></h6>
            </div>
            <table class="table table-bordered">
                <thead>
                    <th>Date</th>
                    <th>Report</th>
                </thead>
                <tbody id="pathReports">
                    
                </tbody>
            </table>
        </div>
    </main>
    <script src="/js/patientHistory.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>