<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admitted Patients</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/f419dc6d9b.js" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/css/showAdmittedPatients.css">

    
  
</head>
<body>
    <header>
      <%-include('_header')%>
    </header>
    <table class="table table-striped table-bordered text-center align-items-center" style="margin: 8px 0px;">
      <caption> List of Admitted Patients</caption>
        <thead>
          <tr class="bg">
            <th scope="col">#</th>
            <th scope="col"><i class="fas fa-user"></i> Name</th>
            <th scope="col"><i class="fa-solid fa-people-group"></i> Age</th>
            <th scope="col"><i class="fas fa-map-marker-alt"></i> Address</th>
            <th scope="col"><i class="fas fa-phone"></i> Mobile</th>
            <th scope="col"><i class="fa-solid fa-calendar"></i> Admission on</th>
            <th scope="col"><i class="fa-solid fa-calendar"></i> Discharge on</th>
            <th scope="col"><i class="fas fa-user"></i> Patient Profile</th>
            
            <th scope="col"><i class="fa-solid fa-hand-pointer"></i> Action</th>
            <th scope="col"><i class="fa-solid fa-file"></i> Bill</th>
            <th scope="col"><i class="fa-solid fa-file"></i> Discharge Sheet</th>
          </tr>
        </thead>
        <tbody>
            <%for(let i=0;i<visits.length;i++){%>
                <tr id="<%=visits[i].Patient._id%>">
                  <%if(false){%>
                    <th style="width: 2%;background-color: #1bdf7359;" scope="row"><%=i+1%></th>
                    <td style="width: 9%;background-color: #1bdf7359;"><%=visits[i].Patient.Name%></td>
                    <td style="width: 2%;background-color: #1bdf7359;"><%=visits[i].Patient.Age%></td>
                    <td style="width: 10%;background-color: #1bdf7359;"><%=visits[i].Patient.Address%></td>
                    <td style="width: 10%;background-color: #1bdf7359;"><input type="date" name="" id="opdate_<%=visits[i].Patient._id%>" value="<%=visits[i].Patient.OperationDate%>"></td>
                    <td style="padding: 0.2% !important;margin: 0;width: 20%;background-color: #1bdf7359;"><textarea style="border: none;" name="" id="cnh_<%=visits[i].Patient._id%>" rows="8" cols="30"><%=visits[i].Patient.Complaint%></textarea></td>
                    <td style="padding: 0.2% !important;margin: 0;width: 20%;background-color: #1bdf7359;"><textarea style="border: none;" name="" id="opdesc_<%=visits[i].Patient._id%>" rows="8" cols="30"><%=visits[i].Patient.OperationDescription%></textarea></td>
                    <td style="padding: 0.2% !important;margin: 0;width:15% ;background-color: #1bdf7359;"><textarea style="border: none;" name="" id="remarks_<%=visits[i].Patient._id%>" rows="8" cols="18"><%=visits[i].Patient.Remarks%></textarea></td>
                    <td style="width: 9%;background-color: #1bdf7359;" id="<%=visits[i].Patient._id%>">
                      <button class="btn btn-success" style="margin-top: 3%;" onclick="Save('<%=visits[i].Patient._id%>')">Save</button>
                      <a href="/patients/dischargeSheet/<%=visits[i].Patient._id%>" style="margin-top: 5% !important;font-size: small;font-weight: bold;">Discharge Sheet</a>
                    </td>
                    <%}else{%>
                      <th style="width: 2%;" scope="row"><%=i+1%></th>
                      <td style="width: 9%;"><%=visits[i].Patient.Name%></td>
                      <td style="width: 2%;"><%=visits[i].Patient.Age%></td>
                      <td style="width: 10%;"><%=visits[i].Patient.Address%></td>
                      <td style="width: 10%;"><%=visits[i].Patient.Mobile%></td>
                      <td style="width: 10%;"><%=String(visits[i].AdmissionDate).split('-')[2]%>-<%=String(visits[i].AdmissionDate).split('-')[1]%>-<%=String(visits[i].AdmissionDate).split('-')[0]%></td>
                      <td><input type="datetime-local" name="" id="dischargeDate" onchange="changeDischargeDate('<%=visits[i]._id%>')"></td>
                      <td style="width: 10%;"><a href="/patients/viewAdmitted/<%=visits[i].Patient._id%>">Info</a></td>
                      
                      <td style="width: 9%;" id="<%=visits[i].Patient._id%>">
                        <button class="btn btn-primary" onclick="Discharge('<%=visits[i].Patient._id%>')">Discharge</button>
                      </td>
                      <td style="width: 10%;">Admission Bill</td>
                      <td>
                        <a href="/patients/dischargeSheet/<%=visits[i]._id%>" style="margin-top: 5% !important;font-size: small;font-weight: bold;">Discharge Sheet</a>
                      </td>
                        
                    <%}%>
                    
                </tr>
                
            <%}%>
        </tbody>
      </table>
      
      <script src="/js/showAdmittedPatients.js"></script>
</body>
</html>