<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  <style>
    td button{
      width: 100px;
    }
    
    tr td, tr th{
      border: 1px dotted rebeccapurple;
      border-top: none;
    }
    .bg{
      background-color: #374752 !important;
      border-right: 1px dotted black;
      color: white !important;
    }
    tbody{
      overflow: auto;
    }
  </style>
</head>
<body>
    <header>
      <%-include('_header')%>
    </header>
    <table class="table">
        <thead>
          <tr>
            <th class="bg" scope="col">#</th>
            <th class="bg" scope="col">Name</th>
            <th class="bg" scope="col">Age</th>
            <th class="bg" scope="col">Gender</th>
            <th class="bg" scope="col">Address</th>
            <th class="bg" scope="col">Fees</th>
            <th class="bg">Open</th>
            <th class="bg">Medications</th>
            <th class="bg" style="text-align: center;">Action</th>
          </tr>
        </thead>
        <tbody>
            <%for(let i=0;i<visits.length;i++){%>
                <tr id="<%=visits[i]._id%>" >
                    <th scope="row"><%=i+1%></th>
                    <td><%=visits[i].Patient.Name%></td>
                    <td><%=visits[i].Patient.Age%></td>
                    <td><%=visits[i].Patient.Gender%></td>
                    <td><%=visits[i].Patient.Address%></td>
                    <td><%=visits[i].Fees%></td>
                    <td><a href="/patients/newVisit/<%=visits[i].Patient._id%>">Open Visit</a></td>
                    <td><a href="/patients/medications/<%=visits[i].Patient._id%>">Medications</a></td>
                    <td style="display: flex; justify-content: center;">
                      <button class="btn btn-warning" id="<%=visits[i]._id%>_koh" onclick="keepOnHold('<%=visits[i]._id%>')">Hold</button>
                      <button style="display: none;" class="btn btn-success" id="<%=visits[i]._id%>_rea" onclick="reActivate('<%=visits[i]._id%>')">Activate</button>
                    </td>
                </tr>
                
            <%}%>
        </tbody>
      </table>
      
      <script>
        function keepOnHold(id){
          document.getElementById(id +'_rea').style.display='block'
          document.getElementById(id+'_koh').style.display='none'
        }
        
        function reActivate(id){
          console.log("Activating "+ id)
          document.getElementById(id+'_rea').style.display='none'
          document.getElementById(id +'_koh').style.display='block'
        }
      </script>
</body>
</html>